{% extends "_allbase.html" %}
    {% block bill %}
        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>重置密码</strong></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-bottom">
                                <form role="form" id="reset_form" class="login-form">
                                    <input type="hidden" value="{{ user_id }}" id="user_id_reset">
                                    <div class="form-group">
                                        <label>新密码:</label>
                                        <input type="password" name="password" class="form-username form-control" id="new_password" onkeyup="check_new_password()">
                                    </div>
                                    <div class="form-group">
                                        <label>再次输入新密码:</label>
                                        <input type="password" class="form-username form-control" id="confirm_password" onkeyup="check_confirm_password()">
                                    </div>
                                    <button type="button" class="btn" id="reset">提 交!</button>
                                </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}