
{% extends '_detailed_base.html' %}
    {% block bill_base %}
        <div class="header">
            <h1 class="page-header">
                明细 <small>欢迎用户:{{ user_name }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="detailed">明细</a></li>
                <li class="active">数据</li>
                <div style="float: right;">
                    <label>开始时间</label>
                    <input class="form-group" id="start_time" name="start_time">
                    <label>结束时间</label>
                    <input class="form-group" id="end_time" name="end_time">
                    <label>消费类型</label>
                    <select class="form-group" id="select_type" name="select_type"></select>
                    <label></label>
                    <input class="form-group">
                </div>
            </ol>
		</div>

        <div id="page-inner">
            <div class="row">

                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            明细统计(单位:元) &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-warning" onclick="refresh_data()"><i class=" fa fa-refresh "></i> 刷新</button>
                            <button class="btn btn-success" onclick="set_model_attribute()"><i class="fa fa-edit "></i> 记一笔</button>
                            <div class="modal fade" id="addBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">记一笔</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <form id="bill_add_form">
                                                    <div class="col-md-6">
                                                        <label>消费分类</label>
                                                        <select class="form-control" id="bill_type" name="type">
                                                        </select>
                                                        <label>消费金额</label>
                                                        <input class="form-control" id="amount" name="amount" type="text" placeholder="保留一位小数...">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>日期</label>
                                                        <input class="form-control" id="date" name="create_time" type="text" placeholder="date time ...">
                                                        <label>备注</label>
                                                        <input class="form-control" id="remark" name="remark" type="text" placeholder="remark ...">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" id="save_bill">保存</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                 </div>
                                </div>
                                <button class="btn btn-danger" onclick="remove_bill()"><i class="fa fa-trash-o"></i> 删一单</button>
                                <div style="float: right">
                                    <button class="btn btn-info" onclick="set_show_modal()"><i class="fa fa-plus"></i>&nbsp;&nbsp;添一类</button>
                                    <div class="modal fade" id="addType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">添加消费类型</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <form id="type_add_form">
                                                            <div class="col-md-6">
                                                                <label>类型名称</label>
                                                                <input class="form-control" id="type_name" name="name" type="text" placeholder="name ...">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" id="save_type">保存</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="checkall" onclick="func_check_all()"/>
                                            </th>
                                            <th>消费类型</th>
                                            <th>金额</th>
                                            <th>日期</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->

        </div>

        <!-- 详情modal -->
        <div class="modal fade" id="detailedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form id="bill_add_form">
                                <div class="col-md-6">
                                    <label>消费分类</label>
                                    <input class="form-control" id="detailed_type" name="type" disabled="disabled">
                                    <label>消费金额</label>
                                    <input class="form-control" id="detailed_amount" name="amount" type="text" placeholder="保留一位小数..." disabled="disabled">
                                </div>
                                <div class="col-md-6">
                                    <label>日期</label>
                                    <input class="form-control" id="detailed_date" name="create_time" type="text" placeholder="date time ..." disabled="disabled">
                                    <label>备注</label>
                                    <input class="form-control" id="detailed_remark" name="remark" type="text" placeholder="remark ..." disabled="disabled">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">我知道了</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改modal -->
        <div class="modal fade" id="editBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">改一改</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form id="bill_edit_form">
                                <input type="hidden" id="edit_id" name="id">
                                <div class="col-md-6">
                                    <label>消费分类</label>
                                    <select class="form-control" id="edit_type" name="type">
                                    </select>
                                    <label>消费金额</label>
                                    <input class="form-control" id="edit_amount" name="amount" type="text" placeholder="保留一位小数...">
                                </div>
                                <div class="col-md-6">
                                    <label>日期</label>
                                    <input class="form-control" id="edit_date" name="create_time" type="text" placeholder="date time ...">
                                    <label>备注</label>
                                    <input class="form-control" id="edit_remark" name="remark" type="text" placeholder="remark ...">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save_edit">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock bill_base%}




